.arrow_pointer {
  z-index: 201;
  width: 30px;
}

/* Buttons */
.to_timer {
  left: 5vw;
  top: 5%;
}

.to_start {
  left: 42vw;
  top: 9%;
}

.to_pause {
  left: 70vw;
  top: 8.5%;
}

.to_add_to_story {
  left: 38%;
  top: 34%;
}

.to_preview {
  left: 65%;
  top: 34%;
}
.to_compare {
  left: 30%;
  top: 84.5%;
}
.to_talk {
  left: 70%;
  top: 84.5%;
}
.to_pdf_it {
  left: 25%;
  top: 91.5%;
}

.to_exit {
  left: 70%;
  top: 91.5%;
}

@media (min-width: 500px) {
  .to_timer {
    left: 2%;
    top: 6%;
  }

  .to_start {
    left: 31%;
    top: 9%;
  }

  .to_pause {
    left: 75%;
    top: 9%;
  }
  
  .to_add_to_story {
    left: 27%;
    top: 34%;
  }
  
  .to_preview {
    left: 75%;
    top: 34%;
  }
  .to_compare {
    left: 20%;
    top: 84%;
  }
  .to_talk {
    left: 78%;
    top: 84%;
  }
  .to_pdf_it {
    left: 20%;
    top: 90%;
  }
  
  .to_exit {
    left: 80%;
    top: 90%;
  }
}

@media (min-height: 846px) {
  .to_timer {
    left: 2%;
    top: 4.5%;
  }

  .to_start {
    left: 31%;
    top: 7%;
  }

  .to_pause {
    left: 75%;
    top: 7%;
  }
  
  .to_add_to_story {
    left: 27%;
    top: 32%;
  }
  
  .to_preview {
    left: 70%;
    top: 32%;
  }
  .to_compare {
    left: 25%;
    top: 87.5%;
  }
  .to_talk {
    left: 75%;
    top: 87.5%;
  }
  .to_pdf_it {
    left: 20%;
    top: 92.5%;
  }
  
  .to_exit {
    left: 75%;
    top: 92.5%;
  }
}




