.column_dotted {
  /* position: relative;
  right: 12rem;
  bottom: 3px; */
}

.barrel {
  width: 215px;
  height: 177px;
  background: url(/assets/Barrel_skeleton.svg);
  display: flex;
  justify-content: center;
}

table,
td {
  border-collapse: collapse;
}

table {
  position: relative;
  left: 3%;
}

th {
  font-size: 20px;
  padding-top: 8px;
  padding-left: 10px;
}

td {
  text-align: center;
  padding: 0;
  min-width: 24px;
}
