.column_dotted {
  /* position: relative;
  right: 12rem;
  bottom: 3px; */
}

.barrel-set {
  position: relative;
  margin-top: 20px;
  /* border: 1px solid grey; */
}

.barrel {
  width: 215px;
  height: 177px;
  background: url(/assets/Barrel.png);
  display: flex;
  justify-content: center;
  background-size: cover;
}

.barrel__table {
  position: absolute;
  left: 15%;
  height: 176px;
  max-width: 200px;
  border-collapse: collapse;
  user-select: none;
}

.active-row {
  background: rgb(225, 255, 0);
  background: radial-gradient(
    circle,
    rgba(225, 255, 0, 0.7130620985010707) 21%,
    rgba(0, 212, 255, 0.0813704496788008) 100%
  );
}

/* .barrel tr:nth-child(odd) {
  background-color: #f2f2f2; 
} */



.barrel__table th:first-child {
  font-size: 13px;
  width: 72.6px;
  text-align: start;
}

.barrel__table td:first-child {
  min-width: 85px;
  text-align: start;
  font-size: 15px;
}

.barrel__table th {
  line-height: 1;
  height: 30px;
}

.barrel__table td {
  width: 20px;
  text-align: center;
}

.instruction {
  margin-top: 0;
  margin: 0 0 0px 20px;
  font-weight: 900;
  font-size: 13px;
  margin-bottom: 5px;
}

.choice__list {
  margin: 0;
  /* font-size: .5rem */
}

.rate,
.radio {
  cursor: pointer;
  width: 23px;
}

.checkbox,
.rank {
  cursor: pointer;
  width: 15px
}

.type-container {
  display: inline-block;
  width: 100%;
  min-height: 13px;
}

background: rgb(225, 255, 0);
background: radial-gradient(
  circle,
  rgba(225, 255, 0, 1) 0%,
  rgba(0, 212, 255, 0.291220556745182) 100%
);
