.bottom_buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 10px;
}

.bottom_buttons-row {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  position: relative
}

.bottom_button {
  background: var(--color-disabled);
}
