/* .header {
  position: relative;
} */

.body_content {
  width: 100%;
  margin: 0 10px;
}

.story_queue-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.learn-mode {
  display: flex;
  justify-content: end;
}
.story_queue-single {
  display: flex;
  justify-content: end;
}

.question {
  height: 160px;
  margin-bottom: 10px;
}

.contents {
  display: flex;
}
.talkbubble-btn {
  position: relative;
}

.talk-btn-learn,
.talk-btn-exit {
  position: absolute;
  bottom: 40px;
  font-size: 8.97px;
  width: 55.6px;
  height: 19.84px;
  text-align: center;
  padding: 5px;
  background: var(--color-secondary);
}
.talk-btn-learn {
  left: 40px;
}
.talk-btn-exit {
  left: 140px;
}
.color {
  background: var(--color-disabled);
}

.answer {
  height: 250px;
  margin-bottom: 10px;
}

/* styling for the pointer arrow on Learn Mode */

.timer_right_arrow {
  position: absolute;
  left: -10px;
  top: 20px;
  z-index: 5;
}
.start_vertical_arrow {
  position: absolute;
  right: 120px;
  top: 75px;
  z-index: 5;
}

.pause_vertical_arrow {
  position: absolute;
  right: 25px;
  top: 75px;
  z-index: 5;
}

.add_story_right_arrow {
  position: absolute;
  left: -10px;
  top: 270px;
  z-index: 5;
}

.preview_right_arrow {
  position: absolute;
  left: 210px;
  top: 270px;
  z-index: 5;
}

.compare_right_arrow {
  position: absolute;
  left: -10px;
  bottom: 60px;
  z-index: 5;
}

.pdf_right_arrow {
  position: absolute;
  left: -10px;
  bottom: 16px;
  z-index: 5;
}

.talk_right_arrow {
  position: absolute;
  left: 235px;
  bottom: 60px;
  z-index: 5;
}

.exit_right_arrow {
  position: absolute;
  left: 240px;
  bottom: 16px;
  z-index: 5;
}
