



.story_queue-single {
  display: flex;
  justify-content: end;
}
.contents {
  display: flex;
}
.learn_mode_navigator {
  position: relative;
  top: -20%;
  left: 35%
}

.talk-btn-learn,
.talk-btn-exit,
.talk-btn-next {
  position: absolute;
  top: 3rem;
  font-size: 0.897rem;
  width: 5.56rem;
  height: 1.984rem;
  padding: 0.5rem;
  text-align: center;
  background: var(--color-secondary);
}
.talk-btn-learn {
  /* left: 20px; */
  left: 2rem;
}
.talk-btn-next {
  /* left: 100px; */
  left: 10rem;
}
.talk-btn-exit {
  /* left: 180px; */
  left: 18rem;
}
.learnwelcome {
  /* left: -102px;
  bottom: -51px; */
  left: -10.2rem;
  bottom: -5.1rem;
}
.exitwelcome {
  /* left: 0px;
  bottom: -51px; */
  left: 0rem;
  bottom: -5.1rem;
}
.learn-welcome-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 50%;
  justify-content: center;
  align-items: center;
  /* padding: 20px 20px 20px 30px; */
  padding: 2rem 2rem 2rem 3rem;
}

.learn-btn {
  /* margin: 20px; */
  margin: 2rem;
}
.edge-greet {
  position: absolute;
  /* margin: 0 2px;
  left: 100px;
  font-size: 18px;
  line-height: 25px;
  right: 13px;
  top: 85px;
  font-size: 14px; */
  margin: 0 0.2rem;
  left: 10rem;
  font-size: 1.8rem;
  line-height: 2.5rem;
  right: 1.3rem;
  top: 8.5rem;
  font-size: 1.4rem;
}
.learn-text {
  /* width: 100%;
  margin: 0 23px;
  font-size: 23px; */
  width: 100%;
  margin: 0 2.3rem;
  font-size: 1.5rem;
}
.learntext {
  /* left: -145px;
  bottom: -51px; */
  left: -14.5rem;
  bottom: -5.1rem;
}
.nexttext {
  /* left: -65px;
  bottom: -51px; */
  left: -6.5rem;
  bottom: -5.1rem;
}
.exittext {
  /* left: 15px;
  bottom: -51px; */
  left: 1.5rem;
  bottom: -5.1rem;
}
.color {
  background: var(--color-disabled);
}
/* styling for the pointer arrow on Learn Mode */
.timer_horizontal_arrow {
  position: absolute;
  /* left: -10px;
  top: 20px; */
  left: -1rem;
  top: 2rem;
  z-index: 5;
}
.start_right_arrow {
  position: absolute;
  /* left: 190px;
  top: 75px; */
  left: 19rem;
  top: 7.5rem;
  z-index: 5;
}

.pause_right_arrow {
  position: absolute;
  /* right: 50px;
  top: 75px; */
  right: 5rem;
  top: 7.5rem;
  z-index: 5;
}



.preview_horizontal_arrow {
  position: absolute;

  right: 14.5rem;
  top: 21rem;
  z-index: 5;
}


.compare_left_arrow {
  position: absolute;
 
  left: 10.9rem;
  bottom: -3rem;
  z-index: 5;
}

/* .pdf_horizontal_arrow {
  position: absolute;
  left: -10px;
  bottom: 16px;
  z-index: 5;
} */
.pdf_left_arrow {
  position: absolute;
  /* left: 90px;
  bottom: 16px; */
  left: 9rem;
  bottom: 1.6rem;
  z-index: 5;
}
.talk_horizontal_arrow {
  position: absolute;
  /* right: 120px;
  bottom: 60px; */
  right: 12rem;
  bottom: 6rem;
  z-index: 5;
}

.exit_horizontal_arrow {
  position: absolute;
  /* right: 120px;
  bottom: 16px; */
  right: 12rem;
  bottom: 1.6rem;
  z-index: 5;
}
.barrel_arrow {
  position: absolute;
  /* right: 35px;
  bottom: 110px; */
  right: 3.5rem;
  bottom: 11rem;
  z-index: 5;
}

.toggle_horizontal_arrow {
  position: absolute;
  /* left: -10px;
  top: 18px; */
  left: -1rem;
  top: 1.8rem;
  z-index: 5;
}
.sticky_arrow {
  position: absolute;
  /* right: 95px;
  top: 2px; */
  right: 9.5rem;
  top: 0.2rem;
  z-index: 5;
}
.column_arrow {
  position: absolute;
  /* left: 230px;
  bottom: 130px; */
  left: 23rem;
  bottom: 13rem;
  z-index: 5;
}
.radio-checkbox_arrow {
  position: absolute;
  /* left: 300px;
  bottom: 130px; */
  left: 30rem;
  bottom: 13rem;
  z-index: 5;
}

.bar_screen_arrow {
  position: absolute;
  /* right: 230px;
  bottom: 60px; */
  right: 23rem;
  bottom: 6rem;
  z-index: 105;
}

.bar_drag_arrow {
  position: absolute;
  /* left: 130px;
  bottom: 118px; */
  left: 13rem;
  bottom: 11.8rem;
  z-index: 105;
}

.bar_click_arrow {
  position: absolute;
  /* left: -10px;
  bottom: 115px; */
  left: -1rem;
  bottom: 11.5rem;
  z-index: 5;
}

.tally_arrow {
  position: absolute;
  /* right: 165px;
  bottom: 135px; */
  right: 16.5rem;
  bottom: 13.5rem;
  z-index: 5;
}
.total_arrow {
  position: absolute;
  /* right: 165px;
  bottom: 65px; */
  right: 16.5rem;
  bottom: 6.5rem;
  z-index: 5;
}

.add-choice_arrow {
  position: absolute;
  /* left: 50px;
  bottom: 0px; */
  left: 5rem;
  bottom: 0rem;
  z-index: 5;
}

.continue_arrow {
  position: absolute;
  /* right: 95px;
  bottom: 0px; */
  right: 9.5rem;
  bottom: 0rem;
  z-index: 5;
}
.select-anything_arrow {
  position: absolute;
  /* right: 220px;
  top: 130px; */
  right: 22rem;
  top: 13rem;
  z-index: 5;
}

@media (max-width: 1280px) {
  .edge-greet {
    position: absolute;
    /* left: 100px;
    right: 10px;
    top: 100px;
    font-size: 16px; */
    left: 10rem;
    right: 1rem;
    top: 10rem;
    font-size: 1.6rem;
  }

  .talk-btn-learn,
  .talk-btn-exit,
  .talk-btn-next {
    /* top: 45px; */
    top: 4.5rem;
  }
  .answer {
    /* height: 410px; */
    height: 41rem;
  }

  .preview_horizontal_arrow {
    /* top: 250px; */
    top: 25rem;
  }

  .barrel_arrow {
    /* left: 430px;
    bottom: 180px; */
    left: 43rem;
    bottom: 18rem;
  }
  .add-choice_arrow {
    /* left: 40px;
    bottom: 5px; */
    left: 4rem;
    bottom: 0.5rem;
  }

  .continue_arrow {
    /* right: 85px;
    bottom: 5px; */
    right: 8.5rem;
    bottom: 0.5rem;
  }
  .select-anything_arrow {
    /* right: 190px;
    top: 235px; */
    right: 19rem;
    top: 23.5rem;
  }
}
@media (max-width: 430px) {
  .talk-btn-learn,
  .talk-btn-exit,
  .talk-btn-next {
    /* top: 55px; */
    top: 5.5rem;
  }
  .learntext {
    /* left: -130px; */
    left: -13rem;
  }
  .nexttext {
    /* left: -50px; */
    left: -5rem;
  }
  .exittext {
    /* left: 30px; */
    left: 3rem;
  }
  .learn-text {
    /* width: 100%;
    margin: 0 23px;
    font-size: 23px; */
    width: 100%;
    margin: 0 2.3rem;
    font-size: 1.8rem;
  }
  .edge-greet {
    /* top: 140px;
    font-size: 14px; */
    top: 16rem;
    font-size: 1.3rem;
  }
  .hands-back{
    top: 18rem;
  }
  .preview_horizontal_arrow {
    /* top: 330px; */
    top: 33rem;
  }
  .talk_horizontal_arrow {
    /* bottom: 115px; */
    bottom: 11.5rem;
  }
  .pdf_left_arrow,
  .exit_horizontal_arrow {
    /* bottom: 70px; */
    bottom: 7rem;
  }
  .barrel_arrow {
    /* right: 335px;
    bottom: 190px; */
    left: 33.5rem;
    bottom: 19rem;
  }
  .toggle_horizontal_arrow {
    /* top: 38px; */
    top: 3.8rem;
  }
  .sticky_arrow {
    /* right: 60px;
    top: 25px; */
    right: 6rem;
    top: 2.5rem;
  }
  /* .column_arrow {
    left: 200px;
  } */
  /* .radio-checkbox_arrow {
    left: 250px;
  } */
  .bar_screen_arrow {
    /* right: 150px;
    bottom: 110px; */
    right: 15rem;
    bottom: 11rem;
  }
  .bar_drag_arrow {
    /* bottom: 195px; */
    bottom: 19.5rem;
  }
  .bar_click_arrow {
    /* bottom: 205px; */
    bottom: 20.5rem;
  }
  .tally_arrow {
    /* right: 165px;
    bottom: 220px; */
    right: 16.5rem;
    bottom: 22rem;
  }
  .total_arrow {
    /* right: 165px;
    bottom: 155px; */
    right: 16.5rem;
    bottom: 15.5rem;
  }
  .add-choice_arrow {
    /* left: -10px;
    bottom: 10px; */
    left: -1rem;
    bottom: 1rem;
  }
  .continue_arrow {
    /* right: 30px;
    bottom: 10px; */
    right: 5rem;
    bottom: 1rem;
  }
  .select-anything_arrow {
    /* right: 150px;
    top: 220px; */
    right: 15rem;
    top: 22rem;
  }
}
@media (max-width: 414px) {
  .talk-btn-learn,
  .talk-btn-exit,
  .talk-btn-next {
    /* top: 55px; */
    top: 5.5rem;
  }
  .learntext {
    /* left: -130px; */
    left: -13rem;
  }
  .nexttext {
    /* left: -50px; */
    left: -5rem;
  }
  .exittext {
    /* left: 30px; */
    left: 3rem;
  }
  .learn-text {
    /* width: 100%;
    margin: 0 23px;
    font-size: 23px; */
    width: 100%;
    margin: 0 2.3rem;
    font-size: 1.75rem;
  }
  .edge-greet {
    /* top: 140px;
    font-size: 14px; */
    top: 14rem;
    font-size: 1.4rem;
  }
  .preview_horizontal_arrow {
    /* top: 310px; */
    top: 31rem;
  }
  .talk_horizontal_arrow {
    /* bottom: 100px; */
    bottom: 10rem;
  }
  .pdf_left_arrow,
  .exit_horizontal_arrow {
    /* bottom: 55px; */
    bottom: 5.5rem;
  }
  .barrel_arrow {
    /* right: 325px;
    bottom: 190px; */
    left: 32.5rem;
    bottom: 19rem;
  }
  .toggle_horizontal_arrow {
    /* top: 38px; */
    top: 3.8rem;
  }
  .sticky_arrow {
    /* right: 60px;
    top: 25px; */
    right: 6rem;
    top: 2.5rem;
  }
  /* .column_arrow {
    left: 200px;
  } */
  /* .radio-checkbox_arrow {
    left: 250px;
  } */
  .select-anything_arrow {
    /* right: 140px;
    top: 150px; */
    right: 14rem;
    top: 15rem;
  }
  .bar_screen_arrow {
    /* right: 150px;
    bottom: 110px; */
    right: 15rem;
    bottom: 11rem;
  }
  .bar_drag_arrow {
    /* bottom: 195px; */
    bottom: 19.5rem;
  }
  .bar_click_arrow {
    /* bottom: 205px; */
    bottom: 20.5rem;
  }
  .tally_arrow {
    /* right: 165px;
    bottom: 200px; */
    right: 16.5rem;
    bottom: 20rem;
  }
  .total_arrow {
    /* right: 165px;
    bottom: 155px; */
    right: 16.5rem;
    bottom: 15.5rem;
  }
  .add-choice_arrow {
    /* left: -10px;
    bottom: 10px; */
    left: -1rem;
    bottom: 1rem;
  }
  .continue_arrow {
    /* right: 30px;
    bottom: 10px; */
    right: 3rem;
    bottom: 1rem;
  }
  .select-anything_arrow {
    /* right: 150px;
    top: 220px; */
    right: 15rem;
    top: 22rem;
  }
}
@media (max-width: 412px) {
  .edge-greet {
    /* top: 140px;
    font-size: 14px; */
    top: 14.5rem;
    font-size: 1.3rem;
  }
  .preview_horizontal_arrow {
    /* top: 310px; */
    top: 32rem;
  }
  .talk_horizontal_arrow {
    /* bottom: 100px; */
    bottom: 11rem;
  }
  .pdf_left_arrow,
  .exit_horizontal_arrow {
    /* bottom: 55px; */
    bottom: 6.5rem;
  }
  .barrel_arrow {
    /* right: 325px;
    bottom: 190px; */
    left: 32.5rem;
    bottom: 19rem;
  }
  .toggle_horizontal_arrow {
    /* top: 38px; */
    top: 3.8rem;
  }
  .sticky_arrow {
    /* right: 60px;
    top: 25px; */
    right: 6rem;
    top: 2.5rem;
  }
  /* .column_arrow {
    left: 200px;
  } */
  /* .radio-checkbox_arrow {
    left: 250px;
  } */
  .bar_screen_arrow {
    /* right: 150px;
    bottom: 110px; */
    right: 15rem;
    bottom: 11rem;
  }
  .bar_drag_arrow {
    /* bottom: 195px; */
    bottom: 19.5rem;
  }
  .bar_click_arrow {
    /* bottom: 205px; */
    bottom: 20.5rem;
  }
  .tally_arrow {
    /* right: 165px;
    bottom: 200px; */
    right: 16.5rem;
    bottom: 20rem;
  }
  .total_arrow {
    /* right: 165px;
    bottom: 155px; */
    right: 16.5rem;
    bottom: 15.5rem;
  }
  .add-choice_arrow {
    /* left: -10px;
    bottom: 10px; */
    left: 0rem;
    bottom: 1rem;
  }
  .continue_arrow {
    /* right: 30px;
    bottom: 10px; */
    right: 4.5rem;
    bottom: 0.5rem;
  }
  .select-anything_arrow {
    /* right: 150px;
    top: 220px; */
    right: 15rem;
    top: 22rem;
  }
}

@media (max-width: 390px) {
  .talk-btn-learn,
  .talk-btn-exit,
  .talk-btn-next {
    /* top: 50px; */
    top: 4.9rem;
  }
  .learntext {
    /* left: -130px; */
    left: -13rem;
  }
  .nexttext {
    /* left: -50px; */
    left: -5rem;
  }
  .exittext {
    /* left: 30px; */
    left: 3rem;
  }
  .learn-text {
    /* width: 100%;
    margin: 0 23px;
    font-size: 23px; */
    width: 100%;
    margin: 0 2.3rem;
    font-size: 1.7rem;
  }
  .edge-greet {
    /* top: 130px;
    font-size: 14px;
    line-height: 22px; */
    top: 12rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .preview_horizontal_arrow {
    /* top: 274px; */
    top: 27.4rem;
  }
  .talk_horizontal_arrow {
    /* bottom: 80px; */
    bottom: 8rem;
  }
  .pdf_left_arrow,
  .exit_horizontal_arrow {
    /* bottom: 35px; */
    bottom: 3.5rem;
  }
  .barrel_arrow {
    /* left: 300px; */
    left: 30rem;
  }
  .toggle_horizontal_arrow {
    /* top: 38px; */
    top: 3.8rem;
  }
  .sticky_arrow {
    /* right: 60px;
    top: 25px; */
    right: 6rem;
    top: 2.5rem;
  }
  .column_arrow {
    /* left: 190px; */
    left: 19rem;
  }
  .radio-checkbox_arrow {
    /* left: 270px; */
    left: 27rem;
  }
  .bar_screen_arrow {
    /* right: 150px; */
    right: 15rem;
  }
  .bar_drag_arrow {
    /* left: 100px; */
    left: 10rem;
  }
  /* .bar_click_arrow {
    bottom: 205px;
  } */
  .tally_arrow {
    /* bottom: 220px; */
    bottom: 22rem;
  }
  .total_arrow {
    /* bottom: 140px; */
    bottom: 14rem;
  }
  .add-choice_arrow {
    /* left: -5px;
    bottom: 5px; */
    left: -0.5rem;
    bottom: 0.5rem;
  }
  .continue_arrow {
    /* right: 40px;
    bottom: 5px; */
    right: 4rem;
    bottom: 0.5rem;
  }
  .select-anything_arrow {
    /* right: 140px; */
    /* top: 225px; */
    top: 22.5rem;
    right: 14rem;
  }
}

@media (max-width: 375px) {
  .talk-btn-learn,
  .talk-btn-exit,
  .talk-btn-next {
    /* top: 50px; */
    top: 3.6rem;
  }
  .edge-greet {
    /* top: 130px;
    font-size: 14px;
    line-height: 22px; */
    top: 4.5rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .learn-text {
    font-size: 1.6rem;
  }
  .hands-back {
    top: 4.5rem;
  }
  .preview_horizontal_arrow {
    /* top: 165px; */
    top: 16.5rem;
  }
  .talk_horizontal_arrow {
    /* bottom: 12px; */
    bottom: 1.2rem;
  }
  .pdf_left_arrow,
  .exit_horizontal_arrow {
    /* bottom: 35px; */
    bottom: -3rem;
  }
  .add-choice_arrow {
    bottom: 2rem;
  }
  .continue_arrow {
    bottom: 2rem;
  }
  .select-anything_arrow {
    /* right: 140px; */
    /* top: 225px; */
    top: 22.5rem;
    right: 14rem;
  }
}

/*My CSS*/
.add_story_left_arrow{
  position: absolute;
  top: 160px;
  left: 150px;
  z-index: 101;
}
