/* .arrow {
  width: 24px;
  height: 98px;
  color: red;
  background-color: red;
}

.arrow.up {
  transform: rotate(180deg);
}

.arrow.down {
  transform: rotate(0deg);
}

.arrow.left {
  transform: rotate(-90deg);
}

.arrow.right {
  transform: rotate(90deg);
}


.animate-up-down {
  animation: upDown 2s infinite alternate;
}

.animate-left-right {
  animation: leftRight 2s infinite alternate;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
} */

/* .PointerArrow-image {
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.upDown {
  animation: upDown 1s infinite alternate;
  transform: rotate(90deg);
}
.upDown.down {
  transform: rotate(-90deg);
}
.leftRight {
  animation: leftRight 1s infinite alternate;
}

.leftRight.left {
  transform: rotate(180deg);
}

.leftRight.right {
  transform: rotate(0deg);
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
} */

.LowerPointer-image {
  position: relative;
  animation: upAndDown 2s infinite linear, backAndForth 2s infinite linear;
}

.LowerPointer-image.up {
  position: relative;
  animation: upAndDown 2s infinite linear;
}
.LowerPointer-image.down {
  position: relative;
  animation: upAndDown 2s infinite linear;
}

.LowerPointer-image.left,
.LowerPointer-image.right {
  animation: backAndForth 2s infinite linear;
}

/* @keyframes upAndDown {
  0% {
    top: 70px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 40px;
  }
} */

@keyframes backAndForth {
  0% {
    left: 0;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 0;
  }
}

/* 
.move-left {
  animation: moveLeft 1s ease-in-out infinite alternate;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

 */
