.LowerPointer-image {
  position: relative;
  animation: upAndDown 2s infinite linear;
}

.LowerPointer-image.up,
.LowerPointer-image.down {
  position: relative;
  animation: upAndDown 2s infinite linear;
}

@keyframes upAndDown {
  0% {
    top: 70px;
  }
  50% {
    top: 0;
  }

  80% {
    top: 0;
  }
  100% {
    top: 40px;
  }
}
