.Pointer-image {
  position: relative;
  animation: backAndForth 2s infinite linear;
}

.Pointer-image.left,
.Pointer-image.right {
  animation: backAndForth 2s infinite linear;
}

@keyframes backAndForth {
  0% {
    left: 0;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 0;
  }
}
