.queue {
  background-color: #fffcd1;
  border: 2px solid #000000;
  border-radius: 5px;
  width: 311px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  height: 160px;
  margin-bottom: 10px;
}

.answer {
  height: 250px;
  margin-bottom: 10px;
}

.story {
  height: 570px;
  margin-bottom: 50px;
  padding: 5px;
}
