/* .rank {
  display: block;
  width: 10px;
  height: 15px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
} */

.rank-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(91, 176, 241); */
  padding: 20px;
}

.rank {
  width: 14px;
  height: 20px;
  background-color: #44ceec;
  border: 2px solid rgb(45, 44, 44);
  border-radius: 5px;
  margin-bottom: -21px; /* Overlap cards slightly */
  position: relative; /* Necessary for z-index */
  /* z-index: 1;  */
  text-align: center;
  color: black;
  font-size: 14px;
}

/* .rank:nth-child(2) {
   transform: rotate(-30deg); 
  margin-left: 5px;
}

.rank:nth-child(3) {
   transform: rotate(2deg); 
  margin-left: -3px;
}

.rank:nth-child(4) {
   transform: rotate(-1deg); 
  margin-left: -4px;
} */
