.ring-set {
  display: flex;
  border: 1px solid grey;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: relative;
}

.ring {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 0;
  margin-bottom: 2.5rem;
  position: relative;
}

.ring-svg {
  
    pointer-events: stroke;
    user-select: none;
    cursor: pointer;
    z-index: 100;
}

.ring-segment {
  position: absolute;
  left: 51%;
  /* opacity: .5; */
}

.ring-list-container {
  background-color: #e0e0e0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  height: 13rem;
  padding: 0.5rem;
  width: 13.6rem;
  user-select: none;
}

.ring-table {
  font-size: 1.5rem;
  position: relative;
}

.ring-checker {
width: 10px;
height: 10px;
border-radius: 1px;
border: 1px solid ;
}

.checker-fill {}

#ring-list {
  text-align: start;
  padding-right: 10px;
}

.ring-label {
  font-size: 1.2rem;
  pointer-events: "none";
  font-weight: 600;
}

.highlight {
  fill: red;
}

.ring-number {
  font-size: 1.5rem;
  pointer-events: "none";
  font-weight: 900;
}

.polygon-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  position: absolute;
  height: 4rem;
  top: 24%;
  left: 73.5%;
}

.polygon {
  cursor: pointer;
  pointer-events: auto;
  width: 1.5rem;
}
.polygon:hover {
  fill: red;
}

.ring-instruction {
  margin: 0 0 0 0.5rem;
  font-size: 1.2rem;
}

.ring-heading {
  margin: 0.1rem 0 0.3rem;
  font-size: 1.5rem;
  text-align: center;
}

.ring-buttons {
  align-self: center;
  width: 22.75rem;
}

.total_above {
}

.total_below,
.total_above {
  background-color: rgba(0, 155, 252, 0.95);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: -70%;
  left: 0;
  user-select: none;
  font-size: 1.5rem;
  color: white;
}
