.stickyArrow-container {
  position: relative;
}

.sticky_arrow {
  width: 10px;
  position: absolute;
  left: 115px;
  top: -25px;
}

.sticky_arrow:hover {
  width: 30px;
  left: 107px;
  top: -50px;
}

.single_choice {
  fill: #fec7a5;
}

.multiple_choice {
  fill: #a7e2ee;
}

.ranking {
  fill: #f1c06c;
}

.rating {
  fill: #5dffa2;
}
