.stickyArrow-container {
  position: relative;
}

.sticky-arrow {
  width: 10px;
  position: absolute;
  left: 125px;
  top: -25px;
}

.sticky-arrow:hover {
  width: 30px;
  left: 120px;
  top: -50px;
}

.singleChoice-sticky {
  fill: #fec7a5;
}

.multipleChoice-sticky {
  fill: #a7e2ee;
}

.rank-sticky {
  fill: #f1c06c;
}

.rate-sticky {
  fill: #5dffa2;
}
