/* .container-svg {
  position: relative;
  /* width: 307px;
  height: 165px; 
  background-color: #fffcd1;
  margin-top: 4px;
  margin-left: 53px;
  padding-top: 15px;
  margin-bottom: 10px;
  border: 2px solid #000000;
} */
.image-svg {
  position: relative;
  width: 285px;
  height: 250px;
  top: -2%;
  left: 2%;
}
.svg-overlay-text {
  position: absolute;
  top: 15.5%;
  left: 25%;
  font-size: 10.5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  line-height: 1.9;
  font-weight: 600;
  width: 165px;
  padding-right: 5px;
}
