.ring-total-warning {
    background-color: rgba(0, 155, 252, 0.95);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    user-select: none;
    font-size: 1.5rem;
    color: white;
    width: 80%;
  }
  
