html {
  height: 100%;
  margin: 0;
  font-size: 62.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbe5a;
  width: 375px;
  height: 667px;
  flex-direction: column;
}

.time-group {
  display: flex;
  border: 1px solid tomato;
}

section {
  margin: 10px;
}

.top-section {
  border: 3px solid limegreen;
  display: flex;
}

.middle-section {
  border: 1px solid limegreen;
  display: flex;
}
.bottom-section {
  border: 1px solid limegreen;
}

.btn-top {
  display: flex;
}

.App-logo {
  font-size: 16px;
  margin-left: 5px;
  width: 45.07px;
  height: 70.11px;
}
.arrow {
  margin-top: 27px;
  margin-right: 12px;
}
.time-pending {
  width: 60.5px;
}
.time {
  width: 60px;
  height: 30px;
  background-color: white;
  border: 2px solid black;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  margin-top: 15px;
}
.pending {
  width: 57px;
  font-size: 12.55px;
  font-weight: bold;
  color: #000000;
  margin-top: 5px;
}
.black-div {
  width: 70px;
  height: 18px;
  border-radius: 8px;
  background-color: #181717;
  margin-bottom: 5px;
  margin-left: 20px;
}
.confirm-btn {
  background-color: #0b2d99;
  color: #fffefe;
  width: 99.19px;
  height: 35.39px;
  text-align: center;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}
.App-header-div-two {
  width: 140px;
  margin-top: 9px;
  margin-left: 25px;
}
.research-text {
  width: 99.31px;
  font-size: 11px;
}

.pause {
  background-color: #85767a;
  border-radius: 3px;
  margin-top: 5px;
}

.option {
  padding-top: 20px;
  height: 235px;
}
.option-area {
  display: flex;
  margin-left: 40px;
  background-color: #fffcd1;
  border: 2px solid black;
  border-left: none;
  width: 230px;
  height: 145px;
  margin-top: 15px;
}
.circle {
  height: 145px;
  width: 30px;
  border-radius: 60%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.circle-black {
  height: 50px;
  width: 5px;
  border-radius: 70%;
  background-color: black;
}
.option-text-area {
  display: flex;
  flex-direction: column;
}
.option-value {
  width: 185px;
  height: 40px;
  background-color: #ffbe5a;
  display: flex;
  flex-direction: column;
  border-left: none;
  font-size: 12px;
  padding: 3px 10px;
  font-weight: 600;
  border-right: 1px dotted grey;
  border-bottom: 1px solid grey;
}
/* .black {
  border-bottom: none;
} */
.white {
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.option-text-area {
  background-color: #ff4343;
}
.half-white {
  width: 30px;
  height: 25px;
  background-color: white;
}

input {
  accent-color: red;
}

.radio-btn {
  content: "";
  width: 22.73px;
  height: 22.73px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  margin: 6px auto;
  cursor: pointer;
}
.select {
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  background-color: #fffcd1;
  text-align: center;
  border: none;
  padding-top: 8px;
}
.the-c {
  background-color: #44ceec;
  color: #fffefe;
  width: 97px;
  height: 26px;
  text-align: center;
  font-size: 13px;
  padding: 6px 5px;
  border-radius: 3px;
  margin-top: -20px;
}
.choice {
  margin-left: 40px;
}
.continue {
  margin-right: 40px;
}
.comp,
.pdf {
  margin-left: 38px;
  margin-bottom: 15px;
}
.talk,
.exit {
  margin-left: 76px;
  margin-bottom: 15px;
}

.App-question {
  width: 307px;
  height: 165px;
  background-color: #fffcd1;
  margin-top: 4px;
  margin-left: 53px;
  padding-top: 15px;
  margin-bottom: 10px;
  border: 2px solid #000000;
}
.question-text {
  width: 283.96px;
  height: 137.13px;
  color: #000000;
  margin: auto;
  padding-left: 15px;
  font-size: 18px;
  font-weight: bold;
}
.add {
  display: flex;
  justify-content: space-around;
  margin: auto;
  cursor: pointer;
}

.story {
  background-color: #0b2d99;
  width: 128px;
  height: 35px;
  font-size: 16px;
  color: #fffcd1;
  text-align: center;
  padding-top: 8px;
  margin-left: 35px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.preview {
  margin-left: 45px;
  border-radius: 3px;
}

.timer {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 1rem;
  background-color: #fffefe;
  font-size: 1rem;
  border: #000000 2px solid;
  align-items: center;
  width: 60px;
  height: 20px;
}

.stickyArrow-container {
  position: relative;
}

.stickyArrow-container .hover {
  position: absolute;
  top: 47%;
  left: 51%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3 ease;
  writing-mode: vertical-lr;
  font-weight: 700;
}

.stickyArrow-container:hover .hover {
  opacity: 1;
}

.interactive-bar {
  width: 200px;
  height: 100px;
  border: 2px solid #1b1919;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.bar-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #10b17b88;
  width: 0%;
}

.bar-container {
  display: flex;
}

.bar-btn {
  background-color: #f0f0f0;
  border-radius: 10px 0 0 10px;
  width: 40px;
  margin-right: 5px;
  font-weight: 900;
  font-size: larger;
  text-align: center;
}

.animated-image {
  position: relative;
  animation: backAndForth 2s infinite linear;
}

@keyframes backAndForth {
  0% {
    left: 0;
  }
  50% {
    left: 40px;
  }
  100% {
    left: 0;
  }
}

.LowerPointer-image {
  position: relative;
  animation: upAndDown 2s infinite linear;
}

@keyframes upAndDown {
  0% {
    top: 70px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 40px;
  }
}

.triangle {
  position: relative;
  width: 200px;
  height: 173.21px; /* Calculated based on equilateral triangle dimensions */
  /* border-left: solid 100px transparent;
  border-right: solid 100px transparent;
  border-bottom: solid 173.21px #000; */
  /* background-color: #ff4343; */
  /* shape-outside: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 10 0% 100%); */
}

.ball {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(30, 30, 61);
  cursor: move;
}

.list-item {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #ffd700;
}

.list-item:hover {
  background-color: #8d1616;
}

.even-item {
  background-color: #9fbeba;
  cursor: pointer;
  padding: 3px;
}

.odd-item {
  background-color: #f5a905;
  cursor: pointer;
  padding: 3px;
}

.checkbox-label {
  font-weight: bold;
  font-size: small;
}

.ring-style {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 20px solid #c7dde7;
  position: relative;
  cursor: move;
}
:root {
  --ring-border-color: hsl(${percentage}, 100%, 50%);
}

.arrow-up {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  cursor: pointer;
}
.arrow-down {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  cursor: pointer;
}

.fill-style {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: none;
  clip-path: circle(50% 50%);
}

.tally-style {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  z-index: 1;
  font-weight: 700;
}

.tally-text {
  position: absolute;
  top: 40%;
  left: 39%;
  font-weight: 700;
}

.total-style {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  z-index: 1;
  font-weight: 700;
}

.total-text {
  position: absolute;
  top: 65%;
  left: 39%;
  font-weight: 700;
}

.rank-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.rank-card {
  font-size: 24px;
  font-weight: bold;
  background-color: #0ed1c7;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.rank-button {
  font-size: 10px;
  background-color: #0a0101;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

.rank-button-container {
  display: flex;
  margin-top: -16px;
  justify-content: space-evenly;
}

.star-container {
  width: 100px; /* Adjust the size as needed */
  height: 100px;
  position: relative;
}
/* 
.star {
  width: 100%;
  height: 100%;
  position: relative;
  clip-path: polygon(
    50% 0%,
    61.8% 15.4%,
    100% 50%,
    61.8% 84.6%,
    50% 100%,
    38.2% 84.6%,
    0% 50%,
    38.2% 15.4%
  );
  transform: rotate(45deg);
} */

.star-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #860000;
  clip-path: polygon(
    50% 0%,
    61.8% 15.4%,
    100% 50%,
    61.8% 84.6%,
    50% 100%,
    38.2% 84.6%,
    0% 50%,
    38.2% 15.4%
  );
  transform: rotate(-45deg);
}

.star-center {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-50%, -50%);
  border: 1px solid #000000;
  text-align: center;
  font-size: medium;
}

.star {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px #000000;
  justify-content: center;
  clip-path: polygon(
    50% 0%,
    61.8% 38.2%,
    100% 40%,
    75% 70%,
    88.2% 95.1%,
    50% 80%,
    11.8% 95.1%,
    25% 70%,
    0% 40%,
    38.2% 38.2%
  );
}

.rating-button-container {
  display: flex;
  justify-content: space-evenly;
}

.rating-button {
  font-size: 10px;
  background-color: #0a0101;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  margin-inline-start: -43px;
}
