:root {
  --color-primary: #0b2d99;
  --color-secondary: #009bfc;
  --color-accent: #44ceec;
  --color-disabled: #85767a;
  --color-learn: #85767a59;

  --left-margin: 50px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-section {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
}

.middle-section {
  display: flex;
  width: 100%;
  /* padding: 0 10px 0 40px; */
}
.bottom-section {
  position: absolute;
  bottom: 0;
}
