:root {
  --color-primary: #0b2d99;
  --color-secondary: #009bfc;
  --color-accent: #44ceec;
  --color-disabled: #85767a;
  --color-learn: #85767a59;

  --left-margin: 5rem;
}

html, body {
  overscroll-behavior: none;
}

html {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior-y: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
button {
  user-select: none;
}

tr:not(:last-child) td {
  border-collapse: collapse;
  border-bottom: 1px solid dodgerblue;
  user-select: none;
}


.primary {
  background: var(--color-primary);
}
.secondary {
  background: var(--color-secondary);
}
.accent {
  background: var(--color-accent);
}
.disabled {
  background: var(--color-disabled);
}
.learn {
  background: var(--color-learn);
}

.top-section {
  position: absolute;
  top: 10px;
  margin: -1rem;
  width: 100%;
}

.middle-section {
  display: flex;
  width: 100%;
}
.bottom-section {
  position: absolute;
  bottom: 0;
}

.scroll_arrow-group {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 50%;
  user-select: none;
  cursor: pointer
}
.scroll_arrow-up {
  transform: scaleY(-1);
  margin-bottom: 20px;
}

.scroll_arrow-down {
  transform: scaleX(1);
}

.scroll_arrow-up:hover {
  opacity: 0.3;
}

.scroll_arrow-down:hover {
  opacity: 0.3;
}

.header {
  display: flex;
  position: relative;
  margin: 10px;
  justify-content: start;
}

.logo {
  position: absolute;
  right: 5px;
  top: 5px;
}

.at-least-three {
  position: absolute;
  left: 18%;
  top: 0;
  z-index: 100;
  background: var(--color-accent);
  height: 20px;
  font-size: 15px;
  color: white;
  padding: 10px;
  z-index: 1000;
  border-radius: 3px;
}





